<div class="container" *ngIf="month">
	<div class="container head">
		<div>
			{{ month }}
		</div>
		<div *ngIf="result">
			{{ result }}%
		</div>
	</div>
	<div *ngIf="!noteNumber" class="msg">Vous n'avez pas de retours pour ce mois-ci.</div>
	<div class="test">
		<div class="progress" *ngIf="notes.length > 0">
			<div class="progress-bar" [className]="result > 50 ? 'bg-success' : 'bg-danger'" role="progressbar" style="width: {{ result }}%" aria-valuemin="0" aria-valuemax="5"></div>
		</div>
		<div class="head row" *ngIf="noteNumber">Les commentaires des utilisateurs :</div>
		<div *ngFor="let comment of comments" class="comment">
			{{ comment }}
		</div>
	</div>
	<div class="container-fluid dash">
		<div class="row">
			<div style="display: block;height:400px;width:400px;" class="col-sm">
				<canvas baseChart 
					[datasets]="barChartData"
					[labels]="barChartLabels"
					[options]="barChartOptions"
					[plugins]="barChartPlugins"
					[legend]="barChartLegend"
					[chartType]="barChartType">
				</canvas>
			</div>
			<div class="card text-white mb-3 col-sm" style="max-width: 18rem; max-height: 200px;margin: 10px;" [className]="rawResult > 2 ? 'bg-success' : 'bg-danger'">
				<div class="card-header">Le retour du MOTM</div>
				<div class="card-body">
					<h5 class="card-title">En un mot</h5>
					<p class="card-text">{{ message[rawResult-1] }}<span *ngIf="!rawResult">Nous n'avons pas récolté assez de commentaires pour vour faire un retour</span></p>
				</div>
			</div>
			<div class="card border-secondary mb-3 col-sm" style="max-width: 18rem; max-height: 200px;margin: 10px;">
				<div class="card-header">Nombre de votes</div>
				<div class="card-body text-secondary">
					<h5 class="card-title">Il y a </h5>
					<p class="card-text">{{ noteNumber}} <span *ngIf="!noteNumber">0 </span>vote(s) pour ce mois.</p>
				</div>
			</div>
		</div>
	</div>
</div>